
body {
    font-size: 20px;
    background-color:antiquewhite;
}

#header {
    background-color:teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#currentWeather{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; 
    margin-right: 20px; 
}

#futureWeather {

    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    flex-wrap: wrap; 
    margin-right: 20px;
}

#searchHistory {
    width: 100%;
    margin-top: 20px;
}

.todayForecast{
text-align: center;
}

.fiveDayForecast{
text-align: center;
}